<section class="main">
    <div class="wrapper">
        <div class="main-content">
            <div class="main-left">
                <h1 class="main-heading">Improve speed,<br> accuracy and overall <br> skills on the keys!</h1>
                <p class="main-para">Take a quick test to find out how accurately <br> and quickly you type (and how to improve!)</p>

                <%= link_to 'Start New Test', tests_path, method: :get %>
                <%= link_to 'Completed Tests', reports_path %>
            </div>
            <div class="main-right">
                <!-- <img class="main-image home-image " src="https://i.ibb.co/QNbVbqB/main-illustration.png" alt="main-illustration" border="0"> -->
                <div class="spinner">
                    <div class="spinner-text">lol</div>
                    <div class="spinner-sector spinner-sector-1"></div>
                    <div class="spinner-sector spinner-sector-2"></div>
                    <div class="spinner-sector spinner-sector-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>